@{
    ViewData["Title"] = "Home Azure pipelines Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Azure YAML pipelines</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Azure pipelines</a>.</p>
</div>
